apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .App }}
  template:
    metadata:
      labels:
        app: {{ .App }}
    spec:
      terminationGracePeriodSeconds: 2
      containers:
      - name: app
        image: {{ .Image }}
        command: ["/bin/sh", "-c", {{ printf "%q" .Command }}]
{{ if .EmptyDir }}
        volumeMounts:
        - name: scratch
          mountPath: /scratch
{{ end }}
        resources:
          requests:
            cpu: 10m
            memory: 8Mi
{{ if .EmptyDir }}
      volumes:
      - name: scratch
        emptyDir: {}
{{ end }}
