apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  clusterIP: None
  selector:
    app: {{ .Name }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
{{ if .IncludePriority }}
  annotations:
    kubectl.safed.io/drain-priority: "{{ .Priority }}"
{{ end }}
spec:
  serviceName: {{ .Name }}
  replicas: {{ .Replicas }}
{{ if .OnDelete }}
  updateStrategy:
    type: OnDelete
{{ else if .Partition }}
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      partition: {{ .Partition }}
{{ end }}
  selector:
    matchLabels:
      app: {{ .Name }}
  template:
    metadata:
      labels:
        app: {{ .Name }}
    spec:
      terminationGracePeriodSeconds: {{ .TerminationGraceSeconds }}
      containers:
      - name: {{ .ContainerName }}
        image: {{ .Image }}
        command: ["/bin/sh", "-c", {{ printf "%q" .Command }}]
        resources:
          requests:
            cpu: 10m
            memory: {{ .MemoryRequest }}
